{% extends "layout.njk" %}
{% block content %}
<main class="container flow">
    <header class="hero">
        <img src="https://picsum.photos/1280/720" alt="">
        <div class="filter"></div>
        <h1>Köp mina byxor</h1>
    </header>
    <section class="flow">
        <h2>Varför ska just du köpa mina byxor?</h2>
        <p>Jo de är väldit coola och även dyra det kommer göra dig till cool</p>
        <p>De är direkt ifrån kina och ger den bästa kvaliten som det kan erbjuda</p>
        <p>Man får med sig en cool sak om man köper för minst 100k vilket är coolt</p>
    </section>
</main>
{% endblock %}